%h1
  User Panel
%table.table
  %thead
    %tr
      %th Name
      %th Email
      %th City
      %th Phone Number
      %th Actions
  %tbody
    - @users.each do |u|
      - next if current_user.id == u.id
      %tr
        %th
          = u.name
        %td
          = u.email
        %td
          = u.city
        %td
          = u.phone_number
        %td
          = link_to "Chat Now", inbox_users_path, :class => "dropdown-toggle"
